<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kelvin Young - Digital Designer</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/main.css">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Russo+One|Alfa+Slab+One" rel="stylesheet">

    <script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="script/bootstrap.js"></script>
    <script type="text/javascript" src="script/lightbox.js"></script>
    <script type="text/javascript" src="script/scrolling-nav.js"></script>
    <script src="https://use.fontawesome.com/31937ffbe3.js"></script>
    <script type="text/javascript" src="script/app.js"></script>

  </head>
