    <header>
      <nav class="navbar navbar-default slide-down-header">
        <div class="container">
          <div class="col-xs-12 col-sm-4">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" data-target="#main">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a id="brand" class="navbar-brand page-scroll fade-in" href="/">Kelvin Young<sup>©</sup></a>

          </div>

          <div id="main" class="collapse navbar-collapse">
            <div class="col-xs-12 col-sm-8">
              <ul class="nav navbar-nav">
                <li><a href="{{ site.url }}/#about-me" class="page-scroll">About Me</a></li>
                <li><a href="{{ site.url }}/#what-i-do" class="page-scroll">What I Do</a></li>
                <li><a href="{{ site.url }}/#my-portfolio" class="page-scroll">My Portfolio</a></li>
                <li><a href="{{ site.url }}/#contact-me" class="page-scroll">Contact Me</a></li>
                <li><a href="/posts" class="page-scroll">My Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
