<div id="about-me" class="smooth">
  <div class="descr">
    <h2 class="animation-element">About Me</h2>
      <p class="animation-element">I am Kelvin Young, an <strong>Art Director</strong>, with a <strong>National Diploma</strong> in <strong>Graphic Design and Visual Communication.</strong> In 2011 I graduated from <strong>The Durban University of Technology</strong>, whose graphic design department was rated the best in South Africa. I am a fast learner and always perform above expectations, I work well under pressure and I am a team player giving input where I can and taking any amount of criticism.</p>

      <p class="animation-element">My personality is that of a extrovert, people get along with me really well, one of my many self rules are to make people feel welcome around me. I always strive to be honest, trustworthy, hard working, respectable, passionate, committed and fair in any thing that I do, be it my work or social life.</p>

      <p class="animation-element">The kind of things I enjoy doing in my free time is anything from watching a movie to playing my guitar. I am very passionate about music and enjoy picking up my guitar and playing it as a way to unwind. I often try to plug myself into any band just to “jam” along with them for fun, as I enjoy learning what I can in every band I “jam” with.</p>

      <p class="animation-element">My love for Design drives my ambitions in life, I often watch a movie or listen to a good song to get design inspiration.</p>
  </div>
</div>