<div id="contact-me" class="smooth">
  <div class="descr">
    <h2 class="animation-element">Lets Get in Touch</h2>

    <h3>Contact Me</h3>

    <a class="email" href="mailto:young.kelvin1@icloud.com?subject=Website Query"><span>young.kelvin1@icloud.com</span></a>

    <h3>Follow Me</h3>
    <p>
      <a href="https://www.facebook.com/young.kelvino1" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/KelvinYoung4" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/kelvin-young-73a8bb46" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.behance.net/kelvinoyoungson" target="_blank"><i class="fa fa-behance"></i></a>
    </p>
  </div>
</div>