<div class="container animation-element">
  <div class="col-sm-6 col-md-3 porti ">
    <a href="assets/images/ijusi.jpg" data-lightbox="portfolio">
      <img src="assets/images/ijusi-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>IJusi</h3>
        <p>Award wining Type face design.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/traveling-hoodie.jpg" data-lightbox="portfolio">
      <img src="assets/images/traveling-hoodie-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Traveling Hoodie</h3>
        <p>Award wining Hoodie Design.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/what-is-your-life.jpg" data-lightbox="portfolio">
      <img src="assets/images/what-is-your-life-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>What is Your Life</h3>
        <p>Conceptual photography.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/illustration-project.jpg" data-lightbox="portfolio">
      <img src="assets/images/illustration-project-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Illustration</h3>
        <p>Illustrated Project.</p>
      </div>
    </a>
  </div>
</div>

<div class="container animation-element">
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/darth-vader.jpg" data-lightbox="portfolio">
      <img src="assets/images/darth-vader-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Darth Vader</h3>
        <p>Polygon Project.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/tribute-to-madiba.jpg" data-lightbox="portfolio">
      <img src="assets/images/tribute-to-madiba-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Tribute to Madiba</h3>
        <p>Illustration of Late Nelson Mandela (Madiba).</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/creative-africans.jpg" data-lightbox="portfolio">
      <img src="assets/images/creative-africans-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Creative Africans</h3>
        <p>A illustration of myself.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/moments-passed.jpg" data-lightbox="portfolio">
      <img src="assets/images/moments-passed-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Moments Passed</h3>
        <p>A Double Page Spread of my life.</p>
      </div>
    </a>
  </div>
</div>

<div class="container animation-element">
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/romans-pizza-paint-wood.jpg" data-lightbox="portfolio">
      <img src="assets/images/romans-pizza-paint-wood-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Roman's Pizza</h3>
        <p>Fun Personal Rebrand of Roman's Pizza.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/light-fluffy-1.jpg" data-lightbox="portfolio">
      <img src="assets/images/light-fluffy-1-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Light & Fluffy #1</h3>
        <p>Roman's Pizza Campaign.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/light-fluffy-2.jpg" data-lightbox="portfolio">
      <img src="assets/images/light-fluffy-2-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Light & Fluffy #2</h3>
        <p>Roman's Pizza Campaign.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/light-fluffy-3.jpg" data-lightbox="portfolio">
      <img src="assets/images/light-fluffy-3-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Light & Fluffy #3</h3>
        <p>Roman's Pizza Campaign.</p>
      </div>
    </a>
  </div>
</div>

<div class="container animation-element">
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/gcd-logo.jpg" data-lightbox="portfolio">
      <img src="assets/images/gcd-logo-tumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>GDC Logo</h3>
        <p>Gap-theory Design Company Logo Redesign.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/coco-vibes.jpg" data-lightbox="portfolio">
      <img src="assets/images/coco-vibes-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Coco Vibes Logo</h3>
        <p>Logo Design for Coco Vibes.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/the-way.jpg" data-lightbox="portfolio">
      <img src="assets/images/the-way-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>The Way Logo</h3>
        <p>Logo Design for The Way Blog.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/harpazo.jpg" data-lightbox="portfolio">
      <img src="assets/images/harpazo-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Harpazo Logo</h3>
        <p>Logo Design for The Harpazo Blog.</p>
      </div>
    </a>
  </div>
</div>

<div class="container animation-element">
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/cell-c-night-shift-1.jpg" data-lightbox="portfolio">
      <img src="assets/images/cell-c-night-shift-1-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Cell C Night Shift #1</h3>
        <p>Cell C Night Shift Campaign.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/cell-c-night-shift-2.jpg" data-lightbox="portfolio">
      <img src="assets/images/cell-c-night-shift-2-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Cell C Night Shift #2</h3>
        <p>Cell C Night Shift Campaign.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/cell-c-night-shift-3.jpg" data-lightbox="portfolio">
      <img src="assets/images/cell-c-night-shift-3-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Cell C Night Shift #3</h3>
        <p>Cell C Night Shift Campaign.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/kylo-ren.jpg" data-lightbox="portfolio">
      <img src="assets/images/kylo-ren-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Kylo Ren</h3>
        <p>Graphic Tablet Illustration.</p>
      </div>
    </a>
  </div>
</div>

<div class="container animation-element">
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/bkb-vuvus.jpg" data-lightbox="portfolio">
      <img src="assets/images/bkb-vuvus-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Big Korn Bites</h3>
        <p>Vuvu's Prototype.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/voltex-campaign.jpg" data-lightbox="portfolio">
      <img src="assets/images/voltex-campaign-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Voltex Campaign</h3>
        <p>Experience The Light.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/airtel-promo.jpg" data-lightbox="portfolio">
      <img src="assets/images/airtel-promo-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Airtel</h3>
        <p>Bank on it Promo.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/accu-check-wall.jpg" data-lightbox="portfolio">
      <img src="assets/images/accu-check-wall-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Accu-chek</h3>
        <p>Virtual Reality Wall.</p>
      </div>
    </a>
  </div>
</div>

<div class="container animation-element">
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/cyo-luxurious-collection.jpg" data-lightbox="portfolio">
      <img src="assets/images/cyo-luxurious-collection-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>CYO</h3>
        <p>Luxurious Collection.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/hey-you.jpg" data-lightbox="portfolio">
      <img src="assets/images/hey-you-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Hey You</h3>
        <p>Deodorant Spray Can Design.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
    <a href="assets/images/lewis-dreams-to-reality.jpg" data-lightbox="portfolio">
      <img src="assets/images/lewis-dreams-to-reality-thumb.jpg" class="img-responsive">
      <div class="porti-descr">
        <h3>Lewis</h3>
        <p>Dreams to Reality Promo.</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 porti">
  </div>
</div>