<div id="skills" class="container">
  <div class="skills">
    <div class="c100 ai">
      <span>Ai</span>
      <div class="slice"></div>
      <div class="fill"></div>
    </div>

    <div class="c100 id">
      <span>ID</span>
      <div class="slice"></div>
      <div class="fill"></div>
    </div>

    <div class="c100 ps">
      <span>PS</span>
      <div class="slice"></div>
      <div class="fill"></div>
    </div>

    <div class="c100 html">
      <span>HTML</span>
      <div class="slice"></div>
      <div class="fill"></div>
    </div>

    <div class="c100 css">
      <span>CSS</span>
      <div class="slice"></div>
      <div class="fill"></div>
    </div>

    <div class="c100 js">
      <span>js</span>
      <div class="slice"></div>
      <div class="fill"></div>
    </div>

    <div class="c100 php">
      <span>PHP</span>
      <div class="slice"></div>
      <div class="fill"></div>
    </div>

    <div class="c100 wp">
      <span>WP</span>
      <div class="slice"></div>
      <div class="fill"></div>
    </div>
  </div>

</div>