<div id="what-i-do" class="smooth">
  <div class="descr">
    <h2 class="animation-element">What I do</h2>

    <p class="animation-element">I am a Graphic Designer, with a National Diploma in Visual Communication &amp; Graphic Design, from one of South Africa's most highly esteemed universities, The Durban University of Technology, Class of 2011.</p>

    <div class="container top animation-element">
      <blockquote>
        <h5>Ok! so I am a Graphic Designer, What does that mean  exactly?</h5>

        <p><em>"Well I create stuff, from <strong>Brand Identity</strong> to <strong>Brand Building</strong>, using various tools to communitcate a Brand through <strong>Print</strong>, <strong>Web Design</strong>, <strong>Digital Avertising</strong> & <strong>Social Media"</strong></em></p>
      </blockquote>
    </div>

    <h3 class="animation-element">Education</h3>

    <p class="animation-element">In 2011 I completed my 3<sup>rd</sup> and final year at The Durban University of Technology, during the course of that year I designed a font that got chosen by <strong>Mr. Garth Walker</strong> to be exhibited in his <strong>26<sup>th</sup> issue of Ijusi</strong>. I also came <strong>2<sup>nd</sup></strong> in the <strong>Hang Ten Traveling Hoodie Competition</strong> where I teamed up with a friend and designed a hoodie for Hang Ten.</p>

    <h3 class="animation-element">Work Experience</h3>

    <h4 class="animation-element">Your Brand Agency - 2015 to Current</h4>

    <p class="animation-element">I am currently employed at <strong>Your Brand Agency</strong> as a <strong>Senior Graphic Designer</strong> where I am responsible for Design &amp; Art Direction, Print &amp; Production, Print Ads, Consumer Promotion, Event Activation, In-store P.O.S, Corporate ID, Digital Marketing, Guerrilla Marketing,Packaging, Campaigns, Illustration, Retouching &amp; Composites, Photography, Website Design and HTML Mailers.</p>

    <h4 class="animation-element">232° Celsius Advertising - 2014 to 2015</h4>

    <p class="animation-element">I also worked at <strong>232° Celsius Advertising</strong> formally know as Evolution. I was employed to design email signatures, layout editorials, business cards, letterheads, compliments slips, street pole adds, billboards, social media, multimedia, websites, logos, viral campaigns, TV adverts, pitches, presentations and Packaging.</p>

    <h4 class="animation-element">BPD Advertising - 2013 to 2014</h4>

    <p class="animation-element">I worked at an agency by the name of <strong>Blue Planet Design</strong>, or <strong>BPD Advertising</strong>, for a year. I worked under <strong>Creative Director Rowan John</strong> whom commissioned me to design email signatures, layout editorials, business cards, letterheads, compliments slips, street pole adds, billboards, social media, multimedia, websites, logos, viral campaigns, TV adverts, pitches and presentations.</p>

    <h4 class="animation-element">Bobby Demure - 2012 to 2013</h4>

    <p class="animation-element">For a year I worked as a <strong>Creative Designer</strong> in an agency called <strong>Bobby Demure</strong>, where I was commissioned to design email signatures, layout editorials, business cards, letterheads, compliment slips, street pole adds, billboards, social media banners, multimedia artwork, websites, logos, viral campaigns, TV adverts, pitches, presentations and much more.</p>

    <h4 class="animation-element">Stingray Studios - 2012 to 2013</h4>

    <p class="animation-element">For 4 months I worked in a design studio called <strong>Stingray Design Studio</strong> where I had the responsibility creating corporate identity for clients.</p>

    <h3 class="animation-element">Skills</h3>

    <p class="animation-element">"If you are looking for ransom I can tell you I don't have money, but what I do have are a very particular set of skills. Skills I have acquired over a very long career. Skills that make me a nightmare for people like you. If you let my daughter go now that'll be the end of it" - <em>liam neeson (Taken).</em></p>

    {% include _content/skills.html %}

  </div>
</div>